/*Importa fonte do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    font-family: 'Open Sans', sans-serif; /*aplica a fonte Opens Sans para todos os elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*redimensiona o conteúdo do elemento de forma que somando o padding e o border do elemento ele tenha uma largura total definida previamente.*/
}