@import url('reset.css');

/* =====================================================
   GERAL
===================================================== */

.app-header__title, .content-section--connection .content-section__title {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.05rem;
}

/* =====================================================
   HEADER
===================================================== */

.app-header {
    padding: 60px 20px;
    min-height: 505px; /* Define uma altura mínima de 506 pixels para o cabeçalho. */
    background-image: url('../images/header-background.png');
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita. */
    background-size: cover; /* Faz com que a imagem de fundo cubra todo o contêiner, mantendo sua proporção. */
    background-position: center; /* Centraliza a imagem de fundo dentro do contêiner. */
}

.app-header__content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    width: 100%;
    max-width: 360px; /* largura típica mobile (Figma style) */
    margin: 0 auto;   /* centraliza horizontalmente */
}


.app-header__title {
    align-self: flex-start; /* Alinha o título ao início do contêiner pai */
    max-width: 50%;          /* Limita a largura máxima do título a uma porcentagem do contêiner pai */
    font-weight: 400;        
    color: #ffffff;
}

.app-header__subtitle {
    font-size: 1rem;
    line-height: 1.4; /* Define a altura da linha como 1.4 vezes o tamanho da fonte. */
    max-width: 100%;
    color: #ffffff;
}

/* área dos botões */
.app-header__actions {
  display: flex;
  flex-direction: column; /* Organiza os botões em uma coluna. */
  align-items: center; /* Centraliza os botões horizontalmente dentro do contêiner. */
  gap: 16px; /* Adiciona um espaço de 16px entre os botões. */
  width: 100%; /* Ocupa toda a largura disponível do contêiner pai. */
  max-width: 381px;
}

/* botão claro e escuro */
.app-header__button {
  padding: 14px 28px;
  height: 54px;
  width: 100%; 
  border: 0;
  border-radius: 500px; /* Bordas arredondadas, criando um formato de pílula. */
  font-size: 1rem;
  cursor: pointer;
}

/* botão branco */
.app-header__button--download {
  background: #ffffff;
  color: #23272a;
}

/* botão escuro */
.app-header__button--open {
  background: #23272a;
  color: #ffffff;
}

/* =====================================================
   MAIN
===================================================== */

.content-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  padding: 40px 24px;
}

/*
Por que não usei min-height: 100vh?
As sessões não ocupam 100% da altura da tela (viewport), então usar min-height: 100vh faria com que houvesse um espaço em branco desnecessário.
*/


.content-section--discover, .content-section--connection {
  background-color: #f6f6f6;
}

.content-section__image-img {
    width: 100%;
    max-width: 400px;
}

.content-section__title {
    font-size: 1.5rem; /* 24px */
    font-weight: 800;
    word-spacing: -1px;
    line-height: 1.5;
    color: #23272a;
}

.content-section__description {
    font-size: 1rem; /* 16px */
    line-height: 1.5;
    color: #23272a;
}

.content-section--connection {
  flex-direction: column-reverse;
}


/* =====================================================
   FOOTER
===================================================== */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 140px;
    background-color: #23272A;
}
